## torch==2.5.1
## torchvision==0.20.1
## torchaudio==2.5.1
## opencv-python==4.10.0.84
## diffusers>=0.31.0
## transformers==4.49.0
## tokenizers==0.21.1
## accelerate==1.6.0
## tqdm
## imageio
## easydict
## ftfy
## dashscope
## imageio-ffmpeg
## numpy>=1.23.5,<2
## xfuser
##
## Instalar aparte la libreria flash_attn con el comando !pip install flash_attn 
## flash_attn
## 

torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1 
opencv-python==4.12.0.88
diffusers>=0.31.0
transformers==4.49.0
tokenizers==0.21.1
accelerate==1.6.0
tqdm
imageio
easydict
ftfy
dashscope
imageio-ffmpeg
numpy<2.1,>=1.22
xfuser
decord
##
## Instalar aparte la libreria flash_attn con el comando !pip install flash_attn 
## flash_attn
## 
